# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# Build & Release Artifacts
build/
dist/
*.spec
*.exe

# Session cache
.cache/
temp/
tmp/
*.sup
*.srt.draft

# OS
.DS_Store
Thumbs.db
